

.Mainwrapper{
    display: grid;
    place-items: center;
    padding-top: 30px;


}

.container{
    margin-top: 100px;
    width: 490px;
    height: 620px;




    border-width: 3px;
    border-radius: 10px;
    padding: 20px;



    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;


}

.containertitle{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;

    font-weight: bold;

    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
}

.Inputcontainer{

    width: 470px;
    margin-bottom: 20px;
}
.inp{
    all: unset;
    width:100%;
    background-color: rgba(57, 62, 70, 0.5);
    height: 40px;
    border-radius: 6px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
}
.InputTitle{

    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
    font-weight: bold;
}

.descriptioninput{
    all: unset;
    width:100%;
    background-color: rgba(57, 62, 70, 0.5);
    height: 100px;
    border-radius: 6px;
    color: white;

    padding:10px;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
}


.descriptioninput::-webkit-scrollbar {
    width: 2px; /* Set width of the scrollbar */
}

 .descriptioninput::-webkit-scrollbar-thumb {
    background-color: rgba(0, 173, 181, 1); /* Color of the scrollbar handle */
    border-radius: 2px; /* Round corners of the handle */
}

 .descriptioninput::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

 .descriptioninput::-webkit-scrollbar-track {
    background-color: #ddd; /* Color of the scrollbar track */
    border-radius: 2px; /* Round corners of the track */
}

 .descriptioninput::-webkit-scrollbar-corner {
    background-color: transparent;
}

.categorypricediv{

    display: flex;
    align-items: center;


}

.categoriesdiv{
    display: flex;
    align-items: center;


}

.pricediv{
    display: flex;
    align-items: center;

}

.categorytitle{
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.pricetitle{
    color: white;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

.priceinput{


}

.fileuploadcomponents{
    margin-top: 20px;

}

.posterupload{
    color: white;
    font-weight: bold;
    margin-left: 10px;
}
.posteruploaddiv{
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

.bookfileuploaddiv{

    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.bookfileupload{
    color: white;
    font-weight: bold;
    margin-left: 33px;

}

.footerd{

    margin-top: 40px;
    display: grid;
    place-items: center;
}

.uploadbtn{

    all: unset;
    background-color: rgba(0, 173, 181, 1);
    color: white;
    font-size: 20px;
    padding:10px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    transition: 200ms;
}

.uploadbtn:hover{

    background-color: rgb(13, 105, 110);
}

.errormessage{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 20px;

}
.successerror{
    text-align: center;
    color:  rgba(0, 173, 181, 1);
    font-weight: bold;
    font-size: 20px;


}

.errorWrapper{
    height: 60px;
    max-height: 60px;
}
.Errordiv{
    color: red;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;


}