.content{
    padding-top: 140px;
    display: grid;
    place-items: center;

}

.bookposter img{
    width: 400px;
    height: 500px;
    margin-right: 20px;
}

.bookdiv{
    width: 1200px;
    height: 500px;
    display: flex;

}

.booktitlediv{
       color: white;
        font-size: 30px;
        font-weight: bold;
    margin-bottom: 30px;
}

.DescriptionDivTitle{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.DescriptionDiv{

    margin-top: 10px;

}


.descriptionText{
background-color: rgba(57, 62, 70, 0.5);
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 700px;
}

.addcartbtn{
    all: unset;
background-color: rgba(0, 173, 181, 1);
    font-size: 20px;
    color: white;
    padding:10px;
    border-radius: 10px;
    transition: 200ms;
    cursor: pointer;
}

.addcartbtn:hover{

    background-color: rgb(12, 113, 117);

}

.ratingDiv{
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
}


.recomentadionsdiv{

    margin-top: 50px;
    padding:20px;



}

.recomendationstitle{

    font-size: 26px;
    margin-bottom: 10px;
    font-weight: bold;
    color :rgb(255, 255, 255);
    cursor: pointer;
    padding-left: 10px;

}

.recomendationscontainer{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}
.addincart{

    background-color: rgba(0, 173, 181, 1);
    font-size: 20px;
    color: white;
    padding:10px;
    border-radius: 10px;
    transition: 200ms;
    cursor: pointer;
    width: 160px;
    text-align: center;
}
.booknotfound{
    color: white;
    font-size: 30px;
        font-weight: bold;
    margin-top: 130px;

}

.categorydiv{

    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}