
.Bookslistwrapper{

    display: grid;
    place-items: center;




}
.content{
    padding-top: 90px;
}
.bookslist{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nobookfounddiv{

    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}
